#loading-box
  .space-scene
    .space-wrap
      .space-wall.space-wall-right
      .space-wall.space-wall-left
      .space-wall.space-wall-top
      .space-wall.space-wall-bottom
      .space-wall.space-wall-back
    .space-wrap
      .space-wall.space-wall-right
      .space-wall.space-wall-left
      .space-wall.space-wall-top
      .space-wall.space-wall-bottom
      .space-wall.space-wall-back
script.
  (()=>{
    const $loadingBox = document.getElementById('loading-box')
    const $body = document.body
    const preloader = {
      endLoading: () => {
        $body.style.overflow = ''
        $loadingBox.classList.add('loaded')
      },
      initLoading: () => {
        $body.style.overflow = 'hidden'
        $loadingBox.classList.remove('loaded')
      }
    }

    preloader.initLoading()
    window.addEventListener('load',() => { 
        preloader.endLoading()
    })

    //- if (!{theme.pjax && theme.pjax.enable}) {
    //-   btf.addGlobalFn('pjaxSend', () => { preloader.initLoading() }, 'preloader_init')
    //-   btf.addGlobalFn('pjaxComplete', () => { preloader.endLoading() }, 'preloader_end')
    //- }
  })()